body {
    touch-action: none;
    background-color: #202020;
    font-family: 'Courier New', Courier, monospace;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 16px;
    background-color: #292929;
    padding: 16px;
    border-style: none;
    border-radius: 15px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
}

#display-container {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 66px;
    width: 312px;
    border-radius: 15px;
    text-align: end;
    background-color: black;
}

#display {
    padding-right: 2px;
    font-size: 50px;
    color: #d9d9d9;
}

button {
    border-style: none;
    border-radius: 15px;
    font-size: medium;
    color: #d9d9d9;
    background-color: #424242;
}

button:hover {
    background-color: #383838;
}

button:active {
    transform: translateY(2px);
}

.big-btn {
    height:66px;
    width: 146px
}

.small-btn {
    height: 66px;
    width: 66px;
}

#clear {
    background-color: #374140;
}

#clear:hover {
    background-color: #2d3736;
}

#delete {
    background-color: #37474f;
}

#delete:hover {
    background-color: #2d3d45;
}

.op {
    background-color: #31353d;
}

.op:hover {
    background-color: #272b33;
}

footer {
    margin-top: auto;
    text-align: center;
    color: #d9d9d9;
}